:root {
  --c-dark-blue: hsl(243, 87%, 12%);
  --c-desaturated-blue: hsl(238, 22%, 44%);

  --c-bright-blue: hsl(224, 93%, 58%);
  --c-cyan: hsl(170, 45%, 43%);

  --c-light-gray: hsl(240, 75%, 98%);
  --c-gray: hsl(0, 0%, 75%);
}
