@import "variables.styl";

.cta
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  color: white
  background-color: $desaturated-blue

.cta h3
  font-family: "Raleway", sans-serif;
  font-weight: 700
  margin: 40px 0 20px 0

.cta p
  margin: 0 0 30px 0
  padding: 0 25px
  font-size: 1em

.cta__form
  display: flex
  flex-direction: column

.cta__form input
  width: 250px
  height: 30px
  outline: none
  border: none
  border-radius: 2px
  margin-bottom: 10px
  font-size: 0.8em

.cta__form button
  font-family: "Raleway", sans-serif;
  outline: none
  border: none
  height: 40px
  color: white
  font-weight: 700
  font-size: 0.8em
  background-color: $bright-blue
  border-radius: 5px
  box-shadow: 1.1px 1.3px 4px rgba(0, 0, 0, 0.07), 9px 10px 32px rgba(0, 0, 0, 0.14)
  margin-bottom: 20px

