@import "navbar.css";
@import "header.css"
@import "description.css";
@import "cta.css";

// Main

body 
  font-family: "Open Sans", sans-serif;

.attribution 
  font-size: 11px;
  text-align: center;

.attribution a 
  color: hsl(228, 45%, 44%);

