@import "variables.styl";

.navbar
  display: grid
  grid-template-columns: 150px 1fr
  align-items: center
  width: 95%
  margin: auto
  font-family: "Raleway", sans-serif;
  padding: 10px 0
  margin-bottom: 80px 

.navbar__logo img
  width: 100px

.navbar__links
  padding: 0
  list-style: none
  display: flex
  justify-content: space-between

.navbar__links li
  margin-right: 5px 
  color: $dark-blue
  font-size 1em
  font-weight 400
